---
title: Partners
layout: default
bodyClass: page-team-list
---

<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-11">
        <h1 class="teambackground">Conoce el equipo</h1>
      </div>
    </div>
  </div>
</div>

<div class="container pb-6">
  <div class="row">
    {% for team in site.team %}
    <div class="col-12 col-md-6 mb-1">
      <div class="team team-summary teambackground">
        {% if team.image %}
        <div class="team-image">
          <img alt="{{ team.title }} logo" class="img-fluid mb-2" src="{{site.baseurl}}{{ team.image }}" />
        </div>
        {% endif %}
        <div class="team-meta">
          <h2 class="team-name">{{ team.owner }}</h2>
          <p class="team-description">{{ team.company }}</p>

          {% if team.web %}
          <p><a target="_blank" href="{{ team.web }}">{{team.web}}</a> </p>
          {% endif %}
          <p><a href="mailto:{{ team.email }}">{{ team.email }}</a></p>
          <p><a href="tel:{{ team.cell }}">{{ team.cell }}</a></p>
        </div>
        <div class="team-content">{{ team.content }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>