.page-services-list {
	background-image: url('../images/thiago-barletta-717501-unsplash.jpg');
	background-repeat: no-repeat;
	background-size: 115%;
	background-position: 49px -40px;
	@include media-breakpoint-up(sm) {
		background-size: 90%;
		background-position: 159px -40px;
	}
	.servicesbackground {
		background: #ffffff;
		border-radius: 5px;
		-webkit-box-shadow: 4px 6px 10px 0px rgba(128, 130, 167, 0.56);
		-moz-box-shadow: 4px 6px 10px 0px rgba(128, 130, 167, 0.56);
		box-shadow: 4px 6px 10px 0px rgba(128, 130, 167, 0.56);
		opacity: 0.96;
	}
	@include media-breakpoint-up(md) {
		background-size: 85%;
		background-position: 199px -80px;
	}
	@include media-breakpoint-up(lg) {
		background-size: 60%;
		background-position: 100% -110px;
	}
}
